body {
    background-color: #121212;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333;
    padding: 20px;
}

header h1 a {
    text-decoration: none;
    color: #FFFFFF;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand h1 {
    margin: 0;
}

.navbar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-nav li {
    display: inline-block;
    margin-right: 20px;
}

.navbar-nav li a {
    text-decoration: none;
    color: #FFFFFF;
}

.login-btn button {
    background-color: #1E90FF;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
}

.login-btn button:hover {
    background-color: #0066CC;
}

main {
    padding: 20px;
}

.films {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.film-card {
    background-color: #222222;
    border-radius: 10px;
    overflow: hidden; 
    position: relative; 
}

.film-card h3 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin: 0;
    color: #FFFFFF;
}

.film-poster {
    width: 65%;
    height: auto; 
    border-radius: 10px 10px 0 0; 
    object-fit: cover; 
}


h2 {
    color: #FFFFFF;
}

footer {
    background-color: #333333;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333333;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}

.login-container h2 {
    text-align: center;
}

.login-form {
    margin-top: 20px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    background-color: #f5f5f5;
    color: #333333;
}

.login-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1e90ff;
    color: #ffffff;
    cursor: pointer;
}

.login-form input[type="submit"]:hover {
    background-color: #0066cc;
}

.signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333333;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #ffffff;
}

.signup-container h2 {
    text-align: center;
}

.signup-form {
    margin-top: 20px;
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    background-color: #f5f5f5;
    color: #333333;
}

.signup-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1e90ff;
    color: #ffffff;
    cursor: pointer;
}

.signup-form input[type="submit"]:hover {
    background-color: #0066cc;
}

body {
    background-color: #121212;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333;
    padding: 20px;
}

header h1 a {
    text-decoration: none;
    color: #FFFFFF;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand h1 {
    margin: 0;
}

.navbar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-nav li {
    display: inline-block;
    margin-right: 20px;
}

.navbar-nav li a {
    text-decoration: none;
    color: #FFFFFF;
}

.login-btn button {
    background-color: #1E90FF;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
}

.login-btn button:hover {
    background-color: #0066CC;
}

main {
    padding: 20px;
}

.add-work-container {
    max-width: 600px;
    margin: 0 auto;
}

.add-work-container input[type="text"],
.add-work-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    background-color: #f5f5f5;
    color: #333333;
}

.add-work-container textarea {
    height: 150px;
}

.add-work-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1e90ff;
    color: #ffffff;
    cursor: pointer;
}

.add-work-container input[type="submit"]:hover {
    background-color: #0066cc;
}

body {
    background-color: #121212;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333;
    padding: 20px;
}

header h1 a {
    text-decoration: none;
    color: #FFFFFF;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand h1 {
    margin: 0;
}

.navbar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-nav li {
    display: inline-block;
    margin-right: 20px;
}

.navbar-nav li a {
    text-decoration: none;
    color: #FFFFFF;
}

.login-btn button {
    background-color: #1E90FF;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
}

.login-btn button:hover {
    background-color: #0066CC;
}

main {
    padding: 20px;
}

.edit-work-container {
    max-width: 600px;
    margin: 0 auto;
}

.edit-work-container input[type="text"],
.edit-work-container input[type="number"],
.edit-work-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    background-color: #f5f5f5;
    color: #333333;
}

.edit-work-container textarea {
    height: 150px;
}

.edit-work-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1e90ff;
    color: #ffffff;
    cursor: pointer;
}

.edit-work-container input[type="submit"]:hover {
    background-color: #0066cc;
}


.carousel {
    position: relative;
    overflow: hidden;
    width: 80%; /* Ajustez la largeur selon vos besoins */
    margin: 0 auto;
}

.film-posters {
    display: flex;
    transition: transform 0.5s ease; /* Transition fluide pour le défilement */
}

.film-posters img {
    width: 200px; /* Ajustez la taille des affiches selon vos besoins */
    margin-right: 20px; /* Espace entre les affiches */
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px;
    color: rgb(16, 15, 15);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.arrow.left {
    left: 0;
}

.arrow.right {
    right: 0;
}

<<<<<<< Updated upstream
/* Reset CSS */
=======
>>>>>>> Stashed changes
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

<<<<<<< Updated upstream
/* Global Styles */
=======
>>>>>>> Stashed changes
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    
    line-height: 1.6;
}

.container {
    width: 90%;
    margin: 0 auto;
}

<<<<<<< Updated upstream
/* Header Styles */
=======
>>>>>>> Stashed changes
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    font-size: 24px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

<<<<<<< Updated upstream
/* Main Content Styles */
=======
>>>>>>> Stashed changes
.details_films {
    padding: 50px 0;
}

.details_film-card {
    display: flex;
    align-items: center;
    background-color: #333;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.details_film-poster {
    width: 300px;
    height: auto;
}

.details_film-info {
    padding: 30px;
}

.details_film-info h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.film-description {
    margin-bottom: 20px;
}

.film-details {
    list-style: none;
}

.film-details li {
    margin-bottom: 10px;
}

.film-details li strong {
    font-weight: bold;
}

<<<<<<< Updated upstream
/* Footer Styles */
=======
>>>>>>> Stashed changes
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
